@font-face {
  font-family: "japanrich";
  src: url("../assets/fonts/japanrich-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/japanrich-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yozakura";
  src: url("../assets/fonts/yozakurajp-regular-webfont.woff2") format("woff2"),
    url("../assets/fonts/yozakurajp-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.card {
  font-family: "yozakura";
  font-size: 1rem;
  letter-spacing: 0.15rem;
}

#header,
#score-display p {
  font-family: "japanrich";
}

#header {
  font-size: 2rem;
}

#score-display p {
  font-size: 1rem;
}

#loading {
  font-family: "yozakura";
  font-size: 3rem;
}
