#game-display {
  height: 90%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;

  padding: 1rem;
  gap: 1rem;

  background-image: url("../assets/amegakure.gif");
  background-size: cover;
  background-position: center;
}
